body {
    font-family: 'Satoshi', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
label {
    margin: 0 !important;
}

.app-header {
    padding: 16px 0;
    border-bottom: 1px solid #f2f2f2;
    height: 80px;
    position: sticky;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.header-btns {
    width: 120px;
}

.app-content {
    height: calc(100vh - 80px);
    overflow-y: auto;

}

.rooms .room-card-main {
    border-radius: 20px !important;
}

.review .progress {
    height: 8px !important;
}

.text-grey {
    color: #b5b5b5 !important;
}

.font-14 {
    font-size: 14px !important;
}

.review-main .review-sub {
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 10px;
}

.review-main .review-sub:last-child {
    border-bottom: 0 !important;
}

@media screen and (min-width:767px) {
    .room-card .room-img {
        height: 200px;
    }
}